In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from nltk.stem.snowball import SnowballStemmer
from sklearn.metrics import confusion_matrix
import nltk

In [3]:
from nltk.corpus import stopwords
nltk.download('stopwords')
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Robin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [4]:
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize

ps = PorterStemmer()

In [5]:
yelp = pd.read_csv(r"C:\Users\Robin\Desktop\Statistics\yelp.csv",encoding = "ISO-8859-1")

yelp.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [6]:
yelp_best_worst = yelp[(yelp.stars==5) | (yelp.stars==1)]

yelp_best_worst.head(5)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
6,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,Drop what you're doing and drive here. After I...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4

In [7]:
X = yelp_best_worst.text
X.apply(lambda x: [item for item in x if item not in stop])

def stem1(text1):
    return ps.stem(text1)

X=X.apply(stem1)
print(X)

0       my wife took me here on my birthday for breakf...
1       i have no idea why some people give bad review...
3       rosie, dakota, and i love chaparral dog park!!...
4       general manager scott petello is a good egg!!!...
6       drop what you're doing and drive here. after i...
9       nobuo shows his unique talents with everything...
10      the oldish man who owns the store is as sweet ...
11      wonderful vietnamese sandwich shoppe. their ba...
12      they have a limited time thing going on right ...
17      okay this is the best place ever! i grew up sh...
21      this place shouldn't even be reviewed - becaus...
22      first time my friend and i went there... it wa...
23      u can go there n check the car out. if u wanna...
24      i love this place! i have been coming here for...
26      i love love love this place. my boss (who is i...
30      disclaimer: like many of you, i am a sucker fo...
31      disgusting!  had a groupon so my daughter and ...
32      never having dealt with a discount tire in pho...
35      i've eaten here many times, but none as bad as...
46      (un)fortunately for me, lux is close to my hou...
51      fred m. pretty much said what i would say, so ...
54      alright, i have been away from yelp for quite ...
59      this restaurant is incredible, and has the bes...
61      i have always been a fan of burlington's deals...
64      another night meeting friends here.  i have to...
65      not busy at all but took nearly 45 min to get ...
66      this an incredible church that embraces the pr...
67      this is our favorite breakfast place. the food...
69      i had looked at several invitation websites al...
71      yikes, reading other reviews i realize my bad ...
                              ...
9941    i have a fond place in my heart for this estab...
9942    cork is an enigma.\n\nwhat makes it enigmatic ...
9943    went to yogurt kingdom for the first time toni...
9945    i find it hilarious that someone would referen...
9947                                      love five guys!
9951    this is a great mexican food restaurant. i eat...
9953    "hipster,trendy" ????-i think not !!!! very di...
9956    "so jimmy, tell the class what you saw at swee...
9957    standard mexican fare - but quite delicious.  ...
9959    my profile says....\n\nmy last meal on earth: ...
9965    treats: we tried the cookies (chocolate chip a...
9966    i first joined 24 hr fitness about a year ago,...
9969    leah, the trainer, at dog house training acade...
9970    this place is super cute lunch joint.  i had t...
9971    the staff is great, the food is great, even th...
9973    wow!  went on a sunday around 11am - busy but ...
9975    when i lived in phoenix, i was a regular at fe...
9977    why did i wait so long to try this neighborhoo...
9978    this is the place for a fabulos breakfast!! i ...
9979    highly recommend. this is my second time here ...
9980    5 stars for the great $5 happy hour specials. ...
9981    we brought the entire family to giuseppe's las...
9984    went last night to whore foods to get basics t...
9987    the food is delicious.  the service:  discrimi...
9989    great food and service! country food at its best!
9990    yes i do rock the hipster joints.  i dig this ...
9991    only 4 stars? \n\n(a few notes: the folks that...
9992    i'm not normally one to jump at reviewing a ch...
9994    let's see...what is there not to like about su...
9999    4-5 locations.. all 4.5 star average.. i think...
Name: text, Length: 4086, dtype: object

In [8]:
y = yelp_best_worst.stars
print(y)

0       5
1       5
3       5
4       5
6       5
9       5
10      5
11      5
12      5
17      5
21      5
22      5
23      1
24      5
26      5
30      5
31      1
32      5
35      1
46      5
51      5
54      5
59      5
61      1
64      1
65      1
66      5
67      5
69      5
71      1
       ..
9941    5
9942    5
9943    5
9945    5
9947    5
9951    5
9953    1
9956    5
9957    5
9959    5
9965    5
9966    5
9969    5
9970    5
9971    5
9973    5
9975    5
9977    5
9978    5
9979    5
9980    5
9981    5
9984    1
9987    1
9989    5
9990    5
9991    5
9992    5
9994    5
9999    5
Name: stars, Length: 4086, dtype: int64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
cveg = CountVectorizer()

x_example = cveg.fit_transform(["how are you", "We are are fine", "are we fine", "yes we are fine"])
x_example.toarray()

array([[1, 0, 1, 0, 0, 1],
       [2, 1, 0, 1, 0, 0],
       [1, 1, 0, 1, 0, 0],
       [1, 1, 0, 1, 1, 0]], dtype=int64)

In [12]:
cveg.get_feature_names()

['are', 'fine', 'how', 'we', 'yes', 'you']

In [13]:
# use CountVectorizer to create document-term matrices from X_train and X_test
vect = CountVectorizer()
X_train_dtm = vect.fit_transform(X_train)
X_test_dtm = vect.transform(X_test)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [15]:
# use CountVectorizer with text column only
vect = CountVectorizer()
X_train_dtm = vect.fit_transform(X_train)
X_test_dtm = vect.transform(X_test)

In [22]:
print(X_train_dtm.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [17]:
print(X_test_dtm)

  (0, 329)	1
  (0, 716)	2
  (0, 761)	2
  (0, 768)	6
  (0, 799)	1
  (0, 1023)	1
  (0, 1216)	1
  (0, 1587)	4
  (0, 1928)	2
  (0, 2215)	1
  (0, 2747)	1
  (0, 2852)	1
  (0, 3829)	1
  (0, 4076)	1
  (0, 4174)	1
  (0, 4468)	1
  (0, 4596)	1
  (0, 4810)	1
  (0, 5156)	1
  (0, 5829)	1
  (0, 6321)	1
  (0, 6770)	1
  (0, 6811)	3
  (0, 6831)	1
  (0, 6993)	3
  :	:
  (1225, 10114)	2
  (1225, 10174)	1
  (1225, 12068)	2
  (1225, 12146)	1
  (1225, 12322)	1
  (1225, 12399)	1
  (1225, 13028)	1
  (1225, 13332)	1
  (1225, 13395)	1
  (1225, 13604)	1
  (1225, 13827)	1
  (1225, 14511)	1
  (1225, 14622)	2
  (1225, 14646)	1
  (1225, 14686)	1
  (1225, 14779)	2
  (1225, 15366)	1
  (1225, 15708)	1
  (1225, 15830)	3
  (1225, 15900)	1
  (1225, 15946)	1
  (1225, 15970)	2
  (1225, 15991)	1
  (1225, 16045)	1
  (1225, 16121)	1

In [18]:
# create a model use logistic regression with text column only
logreg = LogisticRegression(C=1e9)
logreg.fit(X_train_dtm, y_train)
#Do the prediction
y_pred_class = logreg.predict(X_test_dtm)
#check the model accuracy
print(metrics.accuracy_score(y_test, y_pred_class))

0.9216965742251223

In [19]:
confusion_matrix(y_test, y_pred_class)

array([[176,  47],
       [ 49, 954]], dtype=int64)

In [20]:
from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(y_test, y_pred_class))
print('\n')
print(classification_report(y_test, y_pred_class))

[[176  47]
 [ 49 954]]


              precision    recall  f1-score   support

           1       0.78      0.79      0.79       223
           5       0.95      0.95      0.95      1003

    accuracy                           0.92      1226
   macro avg       0.87      0.87      0.87      1226
weighted avg       0.92      0.92      0.92      1226