In [1]:
ages  = [10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [2]:
len(ages)

32

In [3]:
import numpy as np
ages_mean = np.mean(ages)
ages_mean

30.34375

# Taking the sample from the population

In [4]:
sample_size = 10

In [5]:
age_sample  = np.random.choice(ages,sample_size)

In [6]:
print(age_sample)

[28 35 23 35 20 35 20 35 25 17]

In [7]:
from scipy.stats import ttest_1samp

In [12]:
ttest,p_value = ttest_1samp(age_sample,30)
#print(ttest)
print(p_value)

0.26961721424525875

In [17]:
if p_value < 0.05 :
    print("Reject the null hypothesis")
else:
    print("Accept the Null Hypothesis")

Accept the Null Hypothesis

# Complex Example

In [37]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math
np.random.seed(6)
school_ages = stats.poisson.rvs(loc = 18,mu = 35,size = 1500)
classA_ages = stats.poisson.rvs(loc = 18, mu = 30 ,size = 60)

In [38]:
classA_ages.mean()

46.9

In [39]:
_,p_values = stats.ttest_1samp(a= classA_ages,popmean =school_ages.mean() )

In [40]:
p_values

1.139027071016194e-13

In [41]:
school_ages.mean()

53.303333333333335

In [42]:
if p_value < 0.05 :
    print("Reject the null hypothesis")
else:
    print("Accept the Null Hypothesis")

Reject the null hypothesis

# Two sample ttest with python

In [43]:
np.random.seed(12)
classB_ages = stats.poisson.rvs(loc = 18,mu = 33, size = 60)
classB_ages.mean()

50.63333333333333

In [44]:
_,p_value = stats.ttest_ind(a = classA_ages ,b = classB_ages, equal_var=False)

In [45]:
p_value

0.00039942095100859375

In [46]:
if p_value < 0.05 :
    print("Reject the null hypothesis")
else:
    print("Accept the Null Hypothesis")

Reject the null hypothesis

# Paired TTest with python

In [47]:
weight1 = [25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2 = weight1 + stats.norm.rvs(scale = 5,loc = -1.26, size = 15)
print(weight1)
print(weight2)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]
[30.56926457 34.90022437 28.99444617 30.53295091 19.85201983 37.56873174
 18.3199827  21.3671395  36.35420881 32.04941216 26.92827982 29.509014
 26.41851213 30.49667769 41.31984284]

In [51]:
weight_df = pd.DataFrame({"weight10":np.array(weight1),"weight20":np.array(weight2),"weight_change": np.array(weight1)-np.array(weight2)})

In [52]:
weight_df

    weight10   weight20  weight_change
0         25  30.569265      -5.569265
1         30  34.900224      -4.900224
2         28  28.994446      -0.994446
3         35  30.532951       4.467049
4         28  19.852020       8.147980
5         34  37.568732      -3.568732
6         26  18.319983       7.680017
7         29  21.367139       7.632861
8         30  36.354209      -6.354209
9         26  32.049412      -6.049412
10        28  26.928280       1.071720
11        32  29.509014       2.490986
12        31  26.418512       4.581488
13        30  30.496678      -0.496678
14        45  41.319843       3.680157

In [53]:
_,p_value = stats.ttest_rel(a = weight1 , b = weight2)

In [54]:
print(p_value)

0.5684324555867057

In [55]:
if p_value < 0.05 :
    print("Reject the null hypothesis")
else:
    print("Accept the Null Hypothesis")

Accept the Null Hypothesis