In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
dataset = sns.load_dataset('tips')
import scipy.stats as stats

In [10]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
dataset_table = pd.crosstab(dataset['sex'],dataset['smoker'])

In [12]:
dataset_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [24]:
Observed_Values = dataset_table.values
Observed_Values

array([[60, 97],
       [33, 54]], dtype=int64)

In [25]:
val = stats.chi2_contingency(dataset_table)

In [26]:
val

(0.008763290531773594, 0.925417020494423, 1, array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [27]:
Expected_Values = val[3]

In [28]:
Expected_Values

array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]])

In [29]:
no_of_rows = len(dataset_table.iloc[0:2,0])
no_of_rows

2

In [30]:
no_of_columns = len(dataset_table.iloc[0,0:2])
no_of_columns

2

In [31]:
dof = (no_of_columns-1)*(no_of_rows-1)
dof

1

In [32]:
alpha = 0.05

In [35]:
from scipy.stats import chi2
chi_square = sum([(o-e)**2/e for o,e in zip(Observed_Values,Expected_Values)])
print(chi_square)
chi_square_statistic= chi_square[0]+chi_square[1]
chi_square_statistic

[0.00119737 0.00073745]

0.001934818536627623

In [36]:
critical_value = chi2.ppf(q = 1-alpha,df = dof)
print(critical_value)

3.841458820694124

In [37]:
p_value = 1-chi2.cdf(x = chi_square_statistic,df = dof)

In [38]:
print(p_value)

0.964915107315732

In [40]:
if chi_square_statistic >= critical_value:
    print("Reject H0 there is a relationship between two categorical variables")
else:
    print("Retain H0 there is no relationship between two categorical variables")
if p_value<= alpha:
    print("Reject  H0 there is a relationship between two categorical variables")
else : 
    print("Retain H0 ,There is no relationship between two categorical variables")

Retain H0 there is no relationship between two categorical variables
Retain H0 ,There is no relationship between two categorical variables