In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv(r"C:\Users\Robin\Desktop\Statistics\Benz_data\train.csv",usecols = ['X1','X2','X3','X4','X5','X6'])

In [4]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [5]:
data.shape

(4209, 6)

In [6]:
data.columns

Index(['X1', 'X2', 'X3', 'X4', 'X5', 'X6'], dtype='object')

In [7]:
# how many variables each label has
for col in data.columns:
    print(col,':',len(data[col].unique()),'labels')

X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels
X6 : 12 labels

In [49]:
# performing one hot encoding for the variables
e = pd.get_dummies(data , drop_first=True).shape

we can see that 6 categorical variables ends with 117 new variables

In [50]:
#top 10 most frequent categories for the variable
data.X2.value_counts().sort_values(ascending =False).head(20)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
i       25
k       25
b       21
ao      20
z       19
ag      19
Name: X2, dtype: int64

In [62]:
#making a list of most frequent categories of the variable
top_10 = [x for x in data.X2.value_counts().sort_values(ascending =False).head(10).index] 
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [68]:
for label in top_10:
    data[label] = np.where(data['X2'] == label,1,0)
data[['X2']+top_10].head()

   X2  as  ae  ai  m  ak  r  n  s  f  e
0  at   0   0   0  0   0  0  0  0  0  0
1  av   0   0   0  0   0  0  0  0  0  0
2   n   0   0   0  0   0  0  1  0  0  0
3   n   0   0   0  0   0  0  1  0  0  0
4   n   0   0   0  0   0  0  1  0  0  0

In [79]:
def one_hot_top_x(df,variable,top_x_lables):
    for label in top_x_lables:
        df[variable+'_'+label] = np.where(df[variable]==label,1,0)
data = pd.read_csv(r"C:\Users\Robin\Desktop\Statistics\Benz_data\train.csv",usecols = ['X1','X2','X3','X4','X5','X6'])
one_hot_top_x(data,'X2',top_10)
data.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0